# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Angular
.angular/cache/

# Environment files
.env
.env.*

# IDEs
.vscode/
.idea/

# Misc
*.tgz

# Coverage
coverage/

# Others
*.swp
*.swo
