<section id="historico" class="section-diary">
    <div class="container">
      <h2>Histórico de Diários</h2>
  
    
      <button (click)="navegarHistorico()">Voltar para o Diário</button>
  
      
      <div *ngIf="entradas.length > 0">
        <div class="diario-grid">
          <div class="diario-card" *ngFor="let entrada of entradas">
            <div class="diario-card-header">
              <span class="diario-date">{{ entrada.date | date: 'dd/MM/yyyy' }}</span>
              <span class="diario-emotion">{{ entrada.emotion }}</span>
            </div>
            <div class="diario-reason">Razão: <b>{{ entrada.reasonName || 'N/A' }}</b></div>
            <div class="diario-description">{{ entrada.description }}</div>
          </div>
        </div>
      </div>
  
     
      <div *ngIf="entradas.length === 0">
        <p>Não há entradas registradas ainda.</p>
      </div>
    </div>
  </section>