<app-menu></app-menu>
<div class="container">
    <h1>Psicologia e Psiquiatria - Portal de Autoajuda</h1>
    <button (click)="logout()" class="logout-button">
        <i class="fa fa-sign-out-alt"></i> Sair
      </button>
    
    
</div>

<section id="videos" class="section-videos">
    <div class="container">
        <h2>Vídeos de Autoajuda</h2>
        <div class="video-container">
            
            <div class="video">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/PdtHNWYvQQ4" 
                        title="3 Dicas Para Lidar com Ansiedade | Momentos Cury" frameborder="0" allow="accelerometer; autoplay; 
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen></iframe>
                <p>Como lidar com a ansiedade?</p>
            </div>
           
            <div class="video">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/B-halSyG-b4" 
                        title="MEDITAÇAO GUIADA: RELAXAMENTO FÍSICO E MENTAL (DEIXE A VIDA FLUIR)" frameborder="0" allow="accelerometer; autoplay; 
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen></iframe>
                <p>Meditando para o relaxamento mental</p>
            </div>
            
            <div class="video">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/_LGAIoHFaoU" 
                        title="Como EVITAR os PENSAMENTOS NEGATIVOS - Dra Ana Beatriz Barbosa" frameborder="0" allow="accelerometer; autoplay; 
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen></iframe>
                <p>Como ter um pensamento mais positivo?</p>
            </div>
        </div>
    </div>
</section>


<section id="ansiedade" class="section-ansiedade">
    <div class="container">
        <h2>Mas, afinal, o que é ansiedade?</h2>
        <div class="ansiedade-definicao">
            <p>
                A ansiedade é um sentimento natural e está relacionada a situações de pressão, como um prazo apertado no trabalho. 
                Porém, transtornos de ansiedade afetam aqueles que se preocupam intensamente, dificultando o controle sobre essas 
                sensações e afetando a qualidade de vida.
            </p>
            <p>
                Transtornos ansiosos são reações a ameaças futuras, com incertezas que geram pessimismo, urgência, medo e insegurança.
            </p>
        </div>
        <div class="ansiedade-tipos">
            <h3>Tipos de Transtornos de Ansiedade</h3>
            <ul class="no-bullets">
                <li><strong>Transtorno de Ansiedade Generalizada:</strong> Preocupação excessiva com diversas situações.</li>
                <li><strong>TOC (Transtorno Obsessivo-Compulsivo):</strong> Pensamentos obsessivos e compulsões repetitivas.</li>
                <li><strong>Fobia Social:</strong> Medo e desconforto em interações sociais.</li>
                <li><strong>Síndrome do Pânico:</strong> Crises de medo intenso e desconforto generalizado.</li>
                <li><strong>Agorafobia:</strong> Medo de situações que podem causar impotência ou constrangimento.</li>
            </ul>
        </div>
        <div class="ansiedade-causas">
            <h3>Principais Causas e Sintomas</h3>
            <p>As causas podem variar, como desequilíbrios químicos, falta de apoio familiar e traumas. Os sintomas incluem:</p>
            <ul class="no-bullets">
                <li><strong>Físicos:</strong> Tensão muscular, palpitações, transpiração excessiva.</li>
                <li><strong>Psíquicos:</strong> Sensação de despersonalização, pessimismo e pensamentos acelerados.</li>
            </ul>
        </div>
        <div class="ansiedade-consequencias">
            <h3>Consequências e Tratamento</h3>
            <p>
                A ansiedade pode comprometer relacionamentos, produtividade e qualidade de vida. O tratamento inclui psicoterapia, 
                práticas de autocuidado e, em casos severos, medicação. É fundamental buscar ajuda profissional para diagnóstico 
                e orientação no tratamento.
            </p>
        </div>
        <div class="ansiedade-dicas">
            <h3>Como Controlar e Prevenir a Ansiedade</h3>
            <ul class="no-bullets">
                <li>Pratique meditação e autocuidado.</li>
                <li>Realize atividades físicas regularmente.</li>
                <li>Organize uma rotina equilibrada, com tempo para lazer e socialização.</li>
                <li>Busque apoio profissional para diagnóstico e tratamento adequado.</li>
            </ul>
        </div>
    </div>
</section>


<section id="depressao" class="section-depressao">
    <div class="container">
        <h2>Mas, afinal, o que é depressão?</h2>
        <p>
            A depressão é um transtorno mental que afeta a forma como uma pessoa se sente, pensa e interage com o mundo. É caracterizada por sentimentos persistentes de tristeza, desesperança e falta de interesse ou prazer em atividades.
        </p>
        <h3>Possíveis Causas</h3>
        <ul class="no-bullets">
            <li>Predisposição genética</li>
            <li>Estresse</li>
            <li>Algumas medicações</li>
            <li>Eventos negativos, como traumas, perda, morte, separação, desemprego, aposentadoria</li>
            <li>Doenças graves, como câncer</li>
            <li>Dores crônicas</li>
            <li>Abuso de substâncias</li>
        </ul>
        <h3>Sintomas</h3>
        <ul class="no-bullets">
            <li><strong>Emocionais:</strong> Tristeza, irritação, sensação de vazio ou desesperança.</li>
            <li><strong>Físicos:</strong> Tensão na nuca e ombros, dores no corpo, aperto no peito, má digestão e outros.</li>
        </ul>
        <h3>Prevenção</h3>
        <ul class="no-bullets">
            <li>Manter um estilo de vida saudável</li>
            <li>Praticar atividade física regularmente</li>
            <li>Ter uma dieta equilibrada</li>
            <li>Evitar consumo de álcool e drogas ilícitas</li>
            <li>Ter uma rotina de sono regular</li>
        </ul>
    </div>
</section>
